BODY {
	MARGIN: 7px; COLOR: #000000; FONT-FAMILY: arial, sans-serif; BACKGROUND-COLOR: #ffffff
}
ADDRESS {
	FONT-SIZE: 12px; FONT-FAMILY: arial, sans-serif
}
CAPTION {
	FONT-SIZE: 12px; FONT-FAMILY: arial, sans-serif
}
DIV {
	FONT-SIZE: 12px; FONT-FAMILY: arial, sans-serif
}
DL {
	FONT-SIZE: 12px; FONT-FAMILY: arial, sans-serif
}
LI {
	FONT-SIZE: 12px; FONT-FAMILY: arial, sans-serif
}
OL {
	FONT-SIZE: 12px; FONT-FAMILY: arial, sans-serif
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: arial, sans-serif
}
UL {
	FONT-SIZE: 12px; FONT-FAMILY: arial, sans-serif
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial, sans-serif
}
TH {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial, sans-serif
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: arial, sans-serif
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: arial, sans-serif
}
OPTION {
	FONT-SIZE: 12px; FONT-FAMILY: arial, sans-serif
}
TEXTAREA {
	FONT-SIZE: 12px; FONT-FAMILY: arial, sans-serif
}
A:link {
	COLOR: #006633
}
A:visited {
	COLOR: #006633
}
A:hover {
	COLOR: #006633; TEXT-DECORATION: none
}
A:active {
	COLOR: #006633; TEXT-DECORATION: none
}
A.headline-text:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.headline-text:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.headline-text:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.headline-text:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.summary-title:link {
	COLOR: #006633
}
A.summary-title:visited {
	COLOR: #006633
}
A.summary-title:hover {
	COLOR: #006633
}
A.summary-title:active {
	COLOR: #006633
}
.summary-details {
	COLOR: #666666
}
IMG.summary-thumbnail {
	border : 1px solid #000000; margin-left: 5px; float: right;
}
IMG.featurized-thumbnail {
	border : 1px solid #000000; 
}
IMG.gallery-thumbnail {
	border : 1px solid #000000; 
}
IMG.standard-image {
	border : 1px solid #000000; 
}
IMG.summary-image {
	border : 1px solid #000000;
}
A.category-text:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.category-text:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.category-text:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
A.category-text:active {
	COLOR: #666666; BACKGROUND-COLOR: #000000; TEXT-DECORATION: none
}
A.newswire-rsscreator:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: "MS Sans Serif", helvetica, sans-serif; TEXT-DECORATION: none
}
A.newswire-rsscreator:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: "MS Sans Serif", helvetica, sans-serif; TEXT-DECORATION: none
}
A.newswire-rsscreator:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: "MS Sans Serif", helvetica, sans-serif; TEXT-DECORATION: underline
}
A.newswire-rsscreator:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: "MS Sans Serif", helvetica, sans-serif; TEXT-DECORATION: none
}
A.navbar:link {
	FONT-SIZE: 13px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.navbar:visited {
	FONT-SIZE: 13px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.navbar:hover {
	FONT-SIZE: 13px; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.navbar:active {
	FONT-SIZE: 13px; COLOR: #ffffff
}
A.newswire:link {
	
}
A.newswire:visited {
	
}
A.newswire:hover {
	
}
A.newswire:active {
	
}
A.publink:link {
	COLOR: #cc3300
}
A.publink:visited {
	COLOR: #cc3300
}
A.publink:hover {
	
}
A.publink:active {
	COLOR: #ffffff; BACKGROUND-COLOR: #cc3300; TEXT-DECORATION: none
}
BIG {
	FONT-SIZE: 14px
}
SMALL {
	FONT-SIZE: 10px; FONT-FAMILY: "MS Sans Serif", helvetica, sans-serif
}
SMALL.featurelist {
	FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: arial, sans-serif
}
CODE {
	FONT-FAMILY: "Courier New", monospace
}
PRE {
	FONT-FAMILY: "Courier New", monospace
}
DIV.frontpagenotice {
	
}
DIV.mast {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; FONT-FAMILY: arial, sans-serif
}
.heading {
	
}
.subheading {
	
}
.bgfilterbar {
	BACKGROUND-COLOR: #e5ffe5
}
SELECT.filterbar {
	BACKGROUND-COLOR: #e5ffe5
}
TH.storycomments {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #006633; TEXT-ALIGN: left
}
TD.storycomments {
	COLOR: #000000; BACKGROUND-COLOR: #e5ffe5; TEXT-ALIGN: left
}
TH.latestcomments {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #006633; TEXT-ALIGN: left
}
TD.latestcomments {
	COLOR: #000000; BACKGROUND-COLOR: #e5ffe5; TEXT-ALIGN: left
}
TH.admin {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #006633; TEXT-ALIGN: center
}
TD.admin {
	COLOR: #000000; BACKGROUND-COLOR: #e5ffe5
}
TD.admin_highlight {
	COLOR: #BB0000; BACKGROUND-COLOR: #F5ffe5
}
TD.admin_fade {
	COLOR: #CCCCCC; BACKGROUND-COLOR: #e5ffe5
}
TABLE.publish {
	BORDER-RIGHT: #006633 1px solid; BORDER-TOP: #006633 1px solid; BORDER-LEFT: #006633 1px solid; BORDER-BOTTOM: #006633 1px solid
}
TH.publish {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #006633; TEXT-ALIGN: left
}
TD.publish {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
TABLE.eventcalendar {
	BORDER-RIGHT: #cccc99 1px solid; BORDER-TOP: #cccc99 1px solid; BORDER-LEFT: #cccc99 1px solid; BORDER-BOTTOM: #cccc99 1px solid
}
TH.eventcalendar {
	BORDER-RIGHT: #cccc99 1px solid; BORDER-TOP: #cccc99 1px solid; FONT-WEIGHT: bold; VERTICAL-ALIGN: bottom; BORDER-LEFT: #cccc99 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccc99 1px solid; BACKGROUND-COLOR: #e5ffe5; TEXT-ALIGN: left
}
TH.eventcalendarhighlighted {
	BORDER-RIGHT: #cccc99 1px solid; BORDER-TOP: #cccc99 1px solid; FONT-WEIGHT: bold; VERTICAL-ALIGN: bottom; BORDER-LEFT: #cccc99 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccc99 1px solid; BACKGROUND-COLOR: #dddddd; TEXT-ALIGN: left
}
TD.eventcalendar {
	BORDER-RIGHT: #cccc99 1px solid; BORDER-TOP: #cccc99 1px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #cccc99 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccc99 1px solid; BACKGROUND-COLOR: #ffffff
}
TD.eventcalendarpast {
	background-color : #FFFFDE;
	color : #000000;	
	vertical-align : top;
	border : 1px solid #CCCC99;
}
TD.eventcalendarfuture {
	background-color : #FFDEDE;
	color : #000000;	
	vertical-align : top;
	border : 1px solid #CCCC99;
}
TD.eventcalendarhighlighted {
	BORDER-RIGHT: #cccc99 1px solid; BORDER-TOP: #cccc99 1px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #cccc99 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccc99 1px solid; BACKGROUND-COLOR: #eeeeee
}
TR.calendarhighlighted {
	BACKGROUND-COLOR: #e5ffe5
}
TABLE.headlines {
	BORDER-RIGHT: #006633 1px solid; BORDER-TOP: #006633 1px solid; BORDER-LEFT: #006633 1px solid; BORDER-BOTTOM: #006633 1px solid; BACKGROUND-COLOR: #e5ffe4
}
CAPTION.headlines {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: top; COLOR: #ffffff; BACKGROUND-COLOR: #006633
}
TH.headlines {
	VERTICAL-ALIGN: top; COLOR: #ffffff; BACKGROUND-COLOR: #006633
}
TD.headlines {
	VERTICAL-ALIGN: top
}
TD.eventheadlines {
	BORDER-RIGHT: #006633 1px solid; BORDER-TOP: #006633 1px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #006633 1px solid; BORDER-BOTTOM: #006633 1px solid; BACKGROUND-COLOR: #d5ffd5
}
A.headlinesheader:link {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
A.headlinesheader:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
A.headlinesheader:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.headlinesheader:active {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
A.headlines:link {
	TEXT-DECORATION: none
}
A.headlines:visited {
	TEXT-DECORATION: none
}
A.headlines:hover {
	TEXT-DECORATION: underline
}
A.headlines:active {
	TEXT-DECORATION: none
}
P.photo {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-STYLE: italic; FONT-FAMILY: arial, sans-serif; TEXT-ALIGN: center
}
.hed {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; FONT-FAMILY: arial, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; FONT-FAMILY: arial, sans-serif
}
DIV.h1 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; FONT-FAMILY: arial, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 19px; FONT-FAMILY: arial, sans-serif
}
DIV.h2 {
	FONT-WEIGHT: bold; FONT-SIZE: 19px; FONT-FAMILY: arial, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; FONT-FAMILY: arial, sans-serif
}
DIV.h3 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; FONT-FAMILY: arial, sans-serif
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: arial, sans-serif
}
DIV.h4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: arial, sans-serif
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: "MS Sans Serif", helvetica, sans-serif
}
DIV.h5 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: "MS Sans Serif", helvetica, sans-serif
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; FONT-FAMILY: "MS Sans Serif", helvetica, sans-serif
}
DIV.h6 {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; FONT-FAMILY: "MS Sans Serif", helvetica, sans-serif
}
.blurb {
	FONT-FAMILY: arial, sans-serifsu
}
.newswirehead {
	FONT-WEIGHT: bold; COLOR: #333333
}
.mast {
	BACKGROUND-COLOR: #ffffff
}
.bg3 {
	BACKGROUND-COLOR: #ffffff
}
.bgult {
	BACKGROUND-COLOR: #333333
}
.bgcentercol {
	BACKGROUND-COLOR: #ffffff
}
.bgnavbar {
	BACKGROUND-COLOR: #006633
}
.bgnewswire {
	BACKGROUND-COLOR: #dddddd
}
.bgleftcol {
	BACKGROUND-COLOR: #ffffff
}
.bgcities {
	BACKGROUND-COLOR: #ffffff
}
.bgpenult {
	COLOR: #333333; BACKGROUND-COLOR: #ffffff
}
.date {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: "MS Sans Serif", helvetica, sans-serif
}
.calendar {
	FONT-SIZE: 10px; FONT-FAMILY: "MS Sans Serif", helvetica, sans-serif
}
.calendarHeader {
	FONT-SIZE: 10px; FONT-FAMILY: "MS Sans Serif", helvetica, sans-serif
}
.calendarToday {
	FONT-SIZE: 10px; FONT-FAMILY: "MS Sans Serif", helvetica, sans-serif
}
.calendarHighlightWeek {
	BACKGROUND-COLOR: #cccccc
}
.error {
	COLOR: #ff0000
}
.editornotice {
	COLOR: #ff0000
}
.menuobject {
	FONT-SIZE: 11px; FONT-FAMILY: "MS Sans Serif", helvetica, sans-serif
}
SMALL.menuobject {
	FONT-SIZE: 9px; FONT-FAMILY: "MS Sans Serif", helvetica, sans-serif
}
DIV.menuobject {
	BORDER-RIGHT: #006633 2px solid; BORDER-TOP: #99bb99 1px solid; MARGIN: 0.4em 0.3em; BORDER-LEFT: #99bb99 1px solid; COLOR: #006633; BORDER-BOTTOM: #006633 2px solid; BACKGROUND-COLOR: #efffef
}
IMG.menuobject {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
P.menuobject {
	PADDING-RIGHT: 0.3em; MARGIN-TOP: 0.2em; PADDING-LEFT: 0.3em; MARGIN-BOTTOM: 0.1em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em
}
H4.menuobject {
	PADDING-RIGHT: 0.3em; MARGIN-TOP: 0.1em; PADDING-LEFT: 0.3em; FONT-WEIGHT: bold; FONT-SIZE: 125%; MARGIN-BOTTOM: 0.1em; PADDING-BOTTOM: 0.3em; COLOR: #006633; PADDING-TOP: 0.3em; FONT-FAMILY: arial, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
H5.menuobject {
	PADDING-RIGHT: 0.3em; MARGIN-TOP: 0.1em; PADDING-LEFT: 0.3em; FONT-WEIGHT: bold; FONT-SIZE: 110%; MARGIN-BOTTOM: 0.1em; PADDING-BOTTOM: 0.3em; COLOR: #006633; PADDING-TOP: 0.3em; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
H2.menuobject {
	PADDING-RIGHT: 0.3em; MARGIN-TOP: 0.1em; PADDING-LEFT: 0.3em; FONT-WEIGHT: bold; FONT-SIZE: 150%; MARGIN-BOTTOM: 0.1em; PADDING-BOTTOM: 0.3em; COLOR: #006633; PADDING-TOP: 0.3em; FONT-FAMILY: arial, sans-serif; BACKGROUND-COLOR: #ffffff
}
SPAN.menuobject {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em
}
A.menuobjectheader:link {
	FONT-WEIGHT: bold; COLOR: #006633; TEXT-DECORATION: none
}
A.menuobjectheader:visited {
	FONT-WEIGHT: bold; COLOR: #006633; TEXT-DECORATION: none
}
A.menuobjectheader:hover {
	FONT-WEIGHT: bold; COLOR: #006633; TEXT-DECORATION: underline
}
A.menuobjectheader:active {
	FONT-WEIGHT: bold; COLOR: #006633; TEXT-DECORATION: none
}
A.menuobjectentry:link {
	TEXT-DECORATION: none
}
A.menuobjectentry:visited {
	TEXT-DECORATION: none
}
A.menuobjectentry:hover {
	TEXT-DECORATION: underline
}
A.menuobjectentry:active {
	TEXT-DECORATION: none
}
DIV.festival {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em; BACKGROUND-COLOR: #dfdfdf
}
P.festival {
	FONT-SIZE: 115%; MARGIN-LEFT: 0.5em; MARGIN-RIGHT: 0.5em
}
P.festival-item {
	FONT-SIZE: 100%
}
H2.festival {
	PADDING-RIGHT: 0.3em; MARGIN-TOP: 0.5em; PADDING-LEFT: 0.3em; FONT-WEIGHT: bold; FONT-SIZE: 175%; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0.3em; COLOR: #333333; PADDING-TOP: 0.3em; FONT-FAMILY: arial, sans-serif; TEXT-ALIGN: center
}
DIV.festival-item {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN: 1.5em 1em 1em; COLOR: #000000; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #ffffff
}
H3.festival-item {
	MARGIN-TOP: 0.1em; FONT-SIZE: 135%; MARGIN-BOTTOM: 0em; COLOR: #006633
}
P.festival-details {
	MARGIN-TOP: 0.05em; MARGIN-BOTTOM: 0.3em; COLOR: #006633
}
SPAN.festival-details {
	FONT-SIZE: 100%
}
.festival-date {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; FONT-STYLE: italic
}
.festival-space {
	FONT-SIZE: 110%; FONT-STYLE: italic
}
IMG.festival-item {
	MARGIN: 0.1em 0.5em
}
.festival-item {
	FONT-SIZE: 100%
}
DIV.festival-panel {
	FONT-SIZE: 110%; MARGIN: 0.4em 0.3em; COLOR: #006633
}
